.footerContainer {
  width: 100%;
  min-height: 501px;
  flex-shrink: 0;
  background: var(--primary-dark, #430964);
  color: white;
  padding: 80px;
  margin-top: 88px;
  /* margin: 80px -15px 0 -81px; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.footerTop,
.footerBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}
.footerBottom {
  margin-top: 90px;
}
#footerHeading {
  margin-top: 0;
}
#footerHeading,
#footerSubHeading {
  color: white;
  font-size: 40px;
}

#footerSubHeading {
  width: 455px;
  display: inline;
  margin: 0;
}

.addressSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
